@font-face {
    font-family: "Metro";
    src: url("fonts/Metro.otf");
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: "Zekton";
    src: url("fonts/zekton_rg.otf");
}

body {
    background-color: #4b0082;
    background-image: url("/graphics/bg.png");
    background-position-y: -600px;;
    background-position-x: 220px;
    background-attachment: fixed;
    margin: 0;
    color: #3355FF;
}


.hidden {
    display:none;
    border: 5px solid red;
}
.visible {
    display:block;
}

.content_bg {
    background-image: url("/graphics/bgc.png");
    background-attachment: fixed;
    margin: auto;
    padding-top: 20px;
    padding-right: -1px;
    max-width: 1080px;
    height: auto;
}

.addchar {
    background-color: #4b0082;
    color: #3355FF;
    font-family: "Zekton";
    padding: 20px;
    margin-top: 50px;
    padding-right: 40px;
  }

  .addchar input[type="text"] {
    background-color: #1c1c1e;
    color: #00ff80;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 4px;
  }

  .addchar label {
    font-size: 16px;
    color: #7799FF;
  }

  .addchar .btn {
    margin-top: 20px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    padding: 0 20px;
    margin-right: 20px;
  }

  .addchar .btn-primary {
    background-color: #9147ff;
    color: white;
  }

  .addchar .btn-primary:hover {
    background-color: #772ce8;
  }

  .addchar .btn-success {
    background-color: #3c3;
    color: white;
  }

  .addchar .btn-success:hover {
    background-color: #253;
  }

.pointer{
    cursor: pointer;
}

.button{
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 20px;
    background-color: #9147ff;
    color: white;
    padding: 0 20px;
    margin-top: 6px;
    margin-left: 20px;
}
.button:hover{
    background-color: #772ce8;
}
.nav {
    position: absolute;
    background: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 1080px;
    left: 50%;
    margin-left: -539px;
    margin-top: 10px;
    height: 34px;
    z-index: 9;
    list-style:none;
    font-family: OpenSans;
    font-size: 16px;
    font-variant:small-caps;
    
}
.nav a{
    color:#00ff80;
    text-decoration: none;
    height: 100%;
}
.nav a:hover{
    color: #7799FF;
    transition: color .35s ease-in-out;
    animation-name: flash-glow;
    animation-duration: .5s;
    animation-iteration-count: 1;
}
@keyframes flash-glow {
    0% {
      color: #FFFFFF;
    }
    
    100% {
      color: #7799FF;
    }
}

.nav .nav-item{
    float: left;
    padding: 5px;
    cursor: pointer;
}

.error{
    position: absolute;
    z-index: 99;
    font-family: OpenSans;
    font-size: 100px;
    color: red;
}
.sheet-content {
    position: relative;
    overflow: hidden;
    width: 1060px;
    height: 1867px;
    background-position-y: 0;
    margin-top: -24px;
    margin-left: -1px;
    padding-top: 54px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid rgb(48, 0, 102);
    border-right: 2px solid rgb(48, 0, 102);
    z-index: 1;
}
.character .sheet-content {
    background-image: url("/graphics/charsheet_bg.png");
}
.ship .sheet-content {
    background-image: url("/graphics/shipsheet_bg.png");
}
.title {
    font-family: metro;
    color: #000000;
    width: 1080px;
    height: auto;
    overflow: hidden;
    padding-top: 8px;
    position: absolute;
    z-index: 50;
}
.title .charname {
    font-size: 27pt;
    text-shadow:
    -1px -1px 0 #33CCff,
    1px -1px 0 #33CCff,
    -1px 1px 0 #33CCff,
    1px 1px 0 #33CCff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #33CCff;
    cursor: pointer;
}
.title .designation{
    font-size: 27pt;
    text-shadow:
    -1px -1px 0 #ff00ff,
    1px -1px 0 #ff00ff,
    -1px 1px 0 #ff00ff,
    1px 1px 0 #ff00ff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff00ff;
    cursor: pointer;
}
.title .shipmodel{
    font-size: 20pt;
    margin-right: 3px;
    margin-top:-10px;
    text-shadow:
    -1px -1px 0 #33CCFF,
    1px -1px 0 #33CCFF,
    -1px 1px 0 #33CCFF,
    1px 1px 0 #33CCFF;
    float: left;
    cursor: pointer;
}
.title .sub{
    height: 22px;
    margin-top: -3px;
}
.title .playbook {
    font-size: 20pt;
    margin-right: 3px;
    margin-left: 3px;
    margin-top:-10px;
    text-shadow:
    -1px -1px 0 #800080,
    1px -1px 0 #800080,
    -1px 1px 0 #800080,
    1px 1px 0 #800080;
    float: left;
    cursor: pointer;
}
.title .the{
    font-size: 10pt;
    color: #800080FF;
    margin-top: -4px;
    float: left;
}
.title .pb_description{
    font-size: 10pt;
    color: #800080FF;
    margin-top: 4px;
    float: left;
    cursor: pointer;
}
.title .crew_description{
    font-size: 10pt;
    color: #00ace5ff;
    margin-top: 4px;
    float: left;
    cursor: pointer;
}
.pb_xpbar {
    position: absolute;
    left: 850px;
    top: 69px;
    z-index: 99;
    cursor: pointer;
}
.portrait{
    top: 152px;
    left: 5px;
    width: 198px;
    height: 310px;
}
.image1, .image2, .portrait{
    position: absolute;
    background: black;
    border: 6px solid black;
    overflow: hidden;
    cursor: pointer;
}
.image1, .image2{
    height: 198px;
    width: 310px;
    left: 5px;
}
.image-border{
    position: absolute;
    border: 1px solid white;
    background: transparent;
    width: 307px;
    height: 195px;
    z-index:99;
}
.image1 {
    top: 194px;
}
.image2{
    top: 443px;
}

.stressbar {
    position: absolute;
    top: 142px;
    left: 345px;
    cursor: pointer;

}
.traumabar {
    position: absolute;
    top: 142px;
    left: 665px;
    cursor: pointer;
}
.traumalist {
    position: absolute;
    left: 242px;
    top: 197px;
    font-family: OpenSans;
    color: black;
    font-size: 11pt;
    font-variant: small-caps;
    cursor: pointer;
}
.traumalist div{
    float: left;
}
.traumalist div:not(:last-child){
    
    border-right: 2px dotted black;
}
.traumalist .normal {
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    
}
.traumalist .normal:hover{
    animation-name: text-flash;
    animation-duration: .5s;
    animation-iteration-count: 1;
}
@keyframes text-flash {
    0% {
      color: #ff0065;
    }
   
    100% {
      color: #000000;
    }
}

.traumalist .i {
    color: #CDCDCD;
    font-family: OpenSans;
    font-variant: small-caps;
    font-style: italic;    
    margin-left: -1px;
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

/* SHIP DESCRIPTION */
.ship_description{
    position: absolute;
    font-family: Zekton;
    letter-spacing: .5px;
    font-size: 10pt;
    width: 408px;
    padding-right: 10px;
    height: 249px;
    color: #CDCDCD;
}
.ship_description .look{
    position: absolute;
    top: 110px;
    left: 747px;
    width: 290px;
    height: 20px;
}
.ship_description .reputation{
    position: absolute;
    top: 160px;
    left: 869px;
    width: 170px;
}
.ship_description .crewsize{
    position: absolute;
    top: 202px;
    left: 910px;
    cursor: pointer;
}
.ship_description .shipsize{
    position: absolute;
    top: 260px;
    left: 946px;
    width: 90px;
    height: 20px;
}

.cred_debt {
    position: absolute;
    top: 199px;
    left: 379px;
    font-family: metro;
    font-size: 13px;
    color: black;
}
.cred_debt .cred_novault{
    color: #00ace5ff;
}
.cred_debt .cred_vault{
    color: black;
}
.creds{
    position: absolute;
    top: 229px;
    left: 384px;
}
.creds img{
    margin-right: -10px;
}
.cred_debt .cred_up{
    left: 97px;
    top: 11px;
    z-index: 5;
}
.cred_debt .cred_down{
    top: -8px;
    left: -13px;
    z-index: 5;
}
.debt{
    position: absolute;
    left: 520px;
    top: 246px;
}
.debt img{
    padding-right: 2px;
}
.cred_debt .stash_up{
    top: -74px;
    left: 239px;
}
.cred_debt .stash_down{
    top: -112px;
    left: 148px;
}

/* GAMBITS */
.gambits{
    position: absolute;
    top: 382px;
    left: 763px;
    cursor: pointer;
}
.gambits-button{
    position: relative;
    background-image: url("/graphics/gambits-button.png");
    top: -62px;
    left: -90px;
    width: 35px;
    height: 27px;
    cursor: pointer;
}
.gambits-button:hover{
    background-image: url("/graphics/gambits-button-hover.png");
}

/* SHIP SYSTEMS */
.comms {
    position: absolute;
    left: 497px;
    top: 291px;
    width: 34px;
}
.engines{
    position:absolute;
    left: 706px;
    top: 291px;
    width: 34px;
}
.hull{
    position:absolute;
    left: 496px;
    top: 418px;
    width: 34px;
}
.weapons{
    position: absolute;
    left:706px;
    top:401px;
    width: 34px;
}
.comms img, .engines img, .hull img, .weapons img{
    cursor:pointer;
    z-index:99;
}
.sys-add-button {
    position: relative;
    background-image: url("/graphics/plus.png");
    background-repeat:no-repeat;
    width: 20px;
    height: 11px;
    cursor:pointer;
    z-index: 1;
}
.sys-add-button:hover{
    background-image: url("/graphics/plus-hover.png")
}
.comms .sys-add-button{
    top: -84px;
    left: -20px;
}
.engines .sys-add-button{
    top: -68px;
    left: -20px;
}
.hull .sys-add-button{
    top: -47px;
    left: -20px
}
.weapons .sys-add-button{
    top: -67px;
    left: -20px;
}
.damage{
    position:absolute;
    top:0;
    left:16px;
}
.mods{
    padding: 2px;
}
.comms .mods{
    position: relative;
    line-height: 18px;
    left: -160px;
    top: -80px;
    width: 157px;
    height: 86px;
}
.engines .mods{
    position: relative;
    line-height: 18px;
    top: -64px;
    left: -160px;
    height: 74px;
    width: 157px;
}
.hull .mods{
    position: relative;
    line-height: 18px;
    top: -40px;
    left: -160px;
    height: 49px;
    width: 157px;
}
.weapons .mods{
    position: relative;
    line-height: 18px;  
    top: -64px;
    left: -160px;
    height: 69px;
    width: 157px;
}
.mods .mod-div{
    color: #aaaaaa;
    font-family: zekton;
    font-size: 13px;
    cursor:pointer;
    letter-spacing: .5px;
}
.mods img{
    position: relative;
    top: 3px;
    padding-right: 2px;
}

/* UPKEEP */
.upkeep{
    position: absolute;
    top: 544px;
    left: 494px;
    text-align: right;
    width: 20px;
    font-family: zekton;
    font-size: 26px;
}
.upkeep-image{
    position: absolute;
    left: -84px;
    top: 39px;
    cursor: pointer;
}

/* FUEL/SHIELDS */
.hyperfuel{
    position: absolute;
    top: 545px;
    left: 695px;
    cursor: pointer;
}
.shields{
    position: absolute;
    top: 593px;
    left: 568px;
    cursor: pointer;
}
.shields .noshields{
    position: relative;
    top: 1px;
    left: 2px;
}

/* CREW GEAR */
.gloss{
    position: absolute;
    top: 2px;
    left: 3px;
    pointer-events: none;
}
.training .gloss{
    top: 0;
    left:0;
}
.crew-gear .gloss{
    left: 3px;
    top: 3px;
}
.auxiliary .gloss{
    left: 3px;
    top: 3px;
}
.training{
    position: absolute;
    top: 709px;
    left: 30px;
    width: 305px;
    height: 25px;
    margin-left: 2px;
    margin-top: 3px;
}
.training img{
    margin-left: 3px;
}

.crew-gear {
    position: absolute;
    top: 667px;
    left: 372px;
    width: 129px;
    height: 110px;
}
.upgrades{
    position: absolute;
    top: 667px;
    left: 547px;
    width: 162px;
    height: 110px;
}
.auxiliary{
    position: absolute;
    top: 624px;
    left: 748px;
    width: 100px;
    height: 150px;
}
.ship-gear{
    position: absolute;
    top: 624px;
    left: 892px;
    width: 120px;
    height: 150px;
}
.crew-upgrade{
    font-family: zekton;
    font-size: 12px;
    color: #cccccc;
    padding: 2px;
    cursor: pointer;
}
.crew-upgrade div{
    margin: 2px;
    height: 18px;
    float:left;
}
.crew-upgrade span{
    margin-left: 3px;
}
.crew-upgrade img{
    float: left;
    padding-right: 2px;
}

/* HEAT/WANTED */
.heat {
    position:absolute;
    top: 826px;
    left: 0;
    padding-top: 15px;
    width: 1300px;
    height: 80px;
    margin-left: 10px
}
.system-heat{
    position: absolute;
    font-family: Metro;
    font-size: 12px;
    color: white;
}
.rin{
    left: 10px;
}
.holt{
    left: 265px;
}
.iota{
    left: 530px;
}
.brekk{
    left: 795px;
}
.system-heat .system{
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 18;
}
.heatbar{
    position: relative;
    top: 5px;
    z-index: 17;
    cursor: pointer;
}
.coolbar{
    position: relative;
    top: 23px;
    left: -195px;
    cursor: pointer;
}
.wanted{
    position: absolute;
    left: 187px;
    top: 7px;
    font-size: 29px;
    text-align: right;
    width: 30px;
    color: black;
    text-shadow:
    -1px -1px 0 #ff0065,
    1px -1px 0 #ff0065,
    -1px 1px 0 #ff0065,
    1px 1px 0 #ff0065;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff0065;
    z-index: 20;
}

/* SHIP ABILITIES */
.ability{
    cursor: pointer;
}
.ship-abilities{
    position:relative;
    top: 940px;
    left: 636px;
}
.ship-abilities .ability{
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    background-image: url("/graphics/ship-ability-bg.png");
    background-repeat: no-repeat;
    min-height: 135px;
    width: 443px;
    color: white;
    font-family: Zekton;
    font-variant:small-caps;
    letter-spacing: 1px;
    font-size: 12pt;
}
.ship-abilities .ability-content{
    position: relative;
    z-index: 50;
}
.ship-abilities .ability-content p{
    margin: auto;
    padding-right: 20px;
    width: 300px;
    text-align: right;
    color: #888888;
}
.ship-abilities .ability-content p b{
    color: white;
}


.ship-ability-add-button{
    position: relative;
    width: 45px;
    height: 26px;
    z-index: 49;
}
.ship-ability-add-button button{
    position:absolute;
    top:865px;
    left:636px;
    border: none;
    background: transparent;   
    cursor: pointer;
}

.ship-ability-add-button button img{
    position: absolute;
    top: 0;
    left: 0;
}
.ship-ability-add-button .image-main{
    opacity:1
}
.ship-ability-add-button:hover .image-main{
    opacity:0;
    transition: opacity .2s;
}
.ship-ability-add-button .image-hover{
    opacity:0;
    z-index: 99;
}
.ship-ability-add-button:hover .image-hover{
    opacity: 1;
    transition: opacity .2s;
}

/* SHIP NOTES */
.column-left{
    position: absolute;
    right: 500px;
    top: 948px;
}
.column-left .notes-title{
    padding-top: 10px;
}
.column-left img{
    position:relative;
    right: 1px;
    top:4px;
}
.note{
    cursor: pointer;
}
.ship-notes {
    color:#666666;
    font-family: Zekton;
    letter-spacing: .5px;
    font-size: 12pt;
    background: #000000;
    border-right: 1px solid magenta;    
    border-top: 1px solid magenta;
    border-bottom: 1px solid magenta;
    padding-right: 3px;
    margin-top: -1px;
    margin-bottom: -1px;
    width:576px;
}
.ship-notes .notelist{
    min-height: 100px;
    padding-right: 20px;
    border-right: 1px solid magenta;
}
.ship-notes .notelist b{
    color: white;
}
.ship-notes .notelist div{
    padding-bottom: 1px;
    padding-top: 5px;
    padding-left: 5px;
}
.ship-notes .notelist div:not(:last-child){
    background-image: url("/graphics/notes_sep.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 10px;
}
.ship-notes .notelist input{
    font-family: Zekton;
    font-weight: bold;
    width: 536px;
    background:none;
    border: none;
    color: #666666;
}
.ship-notes .notelist input[type=text]:focus{
    border: hidden;
    outline: none;

}
.ship-notes .notes-add-button{
    position: relative;
    width: 45px;
    height: 26px;
    z-index: 999;
    left: 30px;
    top: 12px;
}
.ship-notes .notes-add-button img{
    position:absolute;
    top:0;
    left:0;
}
.ship-notes .notes-add-button button{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    border: none;
    background: transparent;   
    cursor: pointer;
}
.ship-notes{
    cursor: pointer;
}

/* CHARACTER DESCRIPTION */
.character_description{
    position: absolute;
    top: 232px;
    left: 383px;
    font-family: Zekton;
    letter-spacing: .5px;
    font-size: 10pt;
    width: 408px;
    padding-right: 10px;
    height: 249px;
    color: #CDCDCD;
}


.character_description .container .editable-input{
    position: relative;
    width: 408px;
    padding: 5px;
    padding-bottom: 6.5px;
    overflow: hidden;
    border: 1px solid #FFFFFF00;
}
.character_description .container .look .editable-input {
    height: 44px;
}
.character_description .container .heritage .editable-input {
    height: 44px;
}
.character_description .container .background .editable-input {
    height: 44px;
}
.character_description .container .alias .editable-input {
    height: 20px;
}
.character_description .container .vice .editable-input {
    height: 20px;
}


.character_description .container .editable-input:hover {
    overflow: visible;
    height: auto;
    background-color: #000000;
    border: 1px solid #1188CC;
    transition-property: opacity;
    transition: .2s ease-out;
    z-index: 99;
    cursor:pointer;
    width: 408px;
    animation-name: border-flash;
    animation-duration: .5s;
    animation-iteration-count: 1;
}
@keyframes border-flash {
    0% {
      border-color: #FFFFFF;
    }
   
    100% {
      border-color: #1188CC;
    }
}

.alias, .heritage, .background, .vice, .look{
    position: absolute;
    height: 20px;
    width: 100%;
}

.heritage, .background, .look{
    height: 50px;
}

.heritage{
    top:35px;
}
.background{
    top: 95px;
}
.vice{
    top: 158px; 
}
.look{
    top:192px;
}



.attribute_xpbars{
    position: absolute;
    left: 930px;
    top: 155px;
    padding-bottom: 150px;
}
.attribute_xpbars img{
    padding-bottom:148px;
}
.attributes{
    position: absolute;
    left: 827px;
    top: 195px;
}
.attributes img{
    position: relative;
    left: -3px;
}
.attributes div div {
    padding-top: 2px;
    padding-bottom: 2px;
}
.attributes .prowess {
    position: relative;
    top: 74px;
}
.attributes .resolve{
    position: relative;
    top: 148px;
}
.harmtable {
    color: #33CCff;
    font-family: OpenSans;
    font-size: 10pt;
    position:absolute;
    top: 524px;
    left: 100px;
}
.harmtable div{
    padding-top:2px;
    padding-bottom: 1px;
    font-style:italic;
}

.harm3{
    position: absolute;
    width: 412px;
    left: 2px;
    overflow: hidden;
    color: #ff0065;
    font-weight:bolder;
}
.harm2_1{
    position: absolute;
    top: 27px;
    left: 2px;
    width: 200px;
    overflow: hidden;
    color:#00ff80;
}
.harm2_2{
    position:absolute;
    top: 27px;
    left: 214px;
    width: 200px;
    overflow: hidden;
    color:#00ff80;
}
.harm1_1{
    position:absolute;
    top: 53px;
    left: 2px;
    width: 200px;
    overflow: hidden;
}
.harm1_2{
    position:absolute;
    top: 53px;
    left: 214px;
    width: 200px;
    overflow: hidden;
}
.healthclock{
    position: absolute;
    left: 10px;
    top: 500px;
}
.cred{
    position: absolute;
    left: 612px;
    top: 515px;
}
.cred .cred_up{
    left: -13px;
    top: -95px;
}
.cred .cred_down{
    left: -13px;
    top: -51px;
}
.cred_up{
    position: relative;
    width: 32px;
    height: 38px;
    background-image: url("/graphics/plus.png");
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
    cursor: pointer;
}
.cred_up:hover{
    background-image: url("/graphics/plus-hover.png");
}
.cred_down{
    position: relative;
    width: 32px;
    height: 38px;
    background-image: url("/graphics/minus.png");
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
    cursor: pointer;
}
.cred_down:hover{
    background-image: url("/graphics/minus_hover.png");
}
.stash{
    position: absolute;
    left: 676px;
    top: 509px;
}
.stash_up{
    position: relative;
    width: 32px;
    height: 38px;
    left: 89px;
    top: -118px;
    background-image: url("/graphics/right.png");
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
    cursor: pointer;
}
.stash_up:hover{
    background-image: url("/graphics/right_hover.png");
}
.stash_down{
    position: relative;
    width: 32px;
    height: 38px;
    left: 0px;
    top: -156px;
    background-image: url("/graphics/left.png");
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
    cursor: pointer;
}
.stash_down:hover{
    background-image: url("/graphics/left_hover.png");
}
.armor{
    position:absolute;
    left:20px;
    top: 812px;
    color:magenta;
    font-family: Metro;
    font-size: 8pt;
}
.armor div{
    position:relative;
    padding-top:4px;
    padding-left: 20px;
    padding-right: 20px;
    float:left;
    height: 20px;
}
.armor div:hover{
    cursor:pointer;
    color:#CCCCCC;
}
.armor img{
    vertical-align: middle;
}

.regular_items{
    position: absolute;
    left: 0;
    top: 837px;
    font-family: Zekton;
    letter-spacing: .5px;
    font-size: 10pt;
    color: #CDCDCD;
}

.regular_items .item-div{
    margin:4px;
    padding-left: 3px;
    padding-top: 3px;
    margin-top: 7px;
    margin-bottom: -5px;
    background-image: url("/graphics/itembg.png");
    background-repeat:no-repeat;
    height: 23px;
    width: 206px;
    white-space: nowrap;
    cursor:default;
    
    
}
.regular_items .item-div img{
    margin-bottom: -2px;
    padding-right: 3px;
    vertical-align: top;
    cursor:pointer;
}
.regular_items .item-div:hover{
    padding-left: 4px;
    background-image: url("/graphics/itembg_hover.png");
}
.regular_items .small{
    font-style:italic;
}
.regular_items .edit-button{
    right:-2px;
    float:right;
}
.edit-button{
    position: relative;
    height: 20px;
    width: 20px;
    z-index: 99;
}
.edit-button img{
    position:absolute;
    top:0;
    right:0;
}
.edit-button .image-hover{
    opacity:0;
}
.edit-button:hover .image-hover{
    opacity: 1;
    transition: opacity .2s;
}
.special_items .edit-button{
    position: relative;
    bottom: 45px;
    float:right;
}
.special_items .edit-button img{
    top: 15px;
}



.special_items{
    position: absolute;
    left: 224px;
    top: 837px;
    font-family: OpenSans;
    height:370px;
    font-size: 9pt;
    color: #994499;
    font-variant-caps:petite-caps;
}
.special_items .s-item-div{
    margin:4px;
    padding-left: 4px;
    padding-top: 3px;
    margin-top: 7px;
    margin-bottom: -4px;
    background-image: url("/graphics/item_s_bg.png");
    background-repeat: no-repeat;
    vertical-align:middle;
    cursor: default;
    height: 43px;
    width: 270px;
    cursor: default;
}
.special_items .s_item_name{
    color: #FFFFFF;
    font-size: 11pt;
    font-family: Zekton;
    letter-spacing: 1px;    
    line-height: 110%;
    margin-top: -2px;
    border-bottom: 1px solid #CCCCCC;
}
.special_items .s-item-div p{
    position: relative;
    margin-bottom: -1px;
    top: -38px;
    left: 45px;
    max-width: 220px;
    max-height: 42px;
    overflow: hidden;
}
.special_items .s-item-div img{
    margin-bottom: -2px;
    vertical-align: top;
    padding-right: 3px;
    cursor:pointer;
}
.special_items .s-item-div:hover{
    width: 270px;
    height: 43px;
    padding-left: 5px;
    background-position-x:-1px;
    background-image: url("/graphics/item_s_bg_hover.png");
}
.special_items .small{
    font-style:italic;
}
.special_items p{
    
    line-height: 10px;
    margin-top: 3px;
    
}

.s-add-button{
    position: absolute;
    width: 49px;
    height: 25px;
    bottom: 2px;
    left:-1px;
}
.s-add-button img{
    position: absolute;
}
.s-add-button .image-main{
    opacity:1
}
.s-add-button:hover .image-main{
    opacity:0;
    transition: opacity .2s;
}
.s-add-button .image-hover{
    opacity:0;
    z-index: 99;
}
.s-add-button:hover .image-hover{
    opacity: 1;
    transition: opacity .2s;
}

/* CHARACTER ABILITIES */
.char-abilities{
    position: relative;
    top: -30px;
    left: 115px;
}
.char-abilities .ability{
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    background-image: url("/graphics/char-ability-bg.png");
    background-repeat: no-repeat;
    min-height: 135px;
    width: 543px;
    
    color: white;
    font-family: Zekton;
    font-variant:small-caps;
    letter-spacing: 1px;
    font-size: 12pt;
}

.char-abilities .ability-content{
    position: relative;
    z-index:500;
}
.char-abilities .ability-content p{
    margin: auto;
    padding-right:30px;
    width: 380px;
    text-align: right;
    color: #888888;
}
.char-abilities .ability-content p b{
    color: white;
}

.char-ability-add-button{
    position: relative;
    width: 45px;
    height: 26px;
    z-index: 100;
}
.char-ability-add-button button{
    position:absolute;
    top:-105px;
    left:114px;
    border: none;
    background: transparent;
    z-index: 1;
}

.char-ability-add-button button img{
    position: absolute;
    top: 0;
    left: 0;
}
.char-ability-add-button .image-main{
    opacity:1
}
.char-ability-add-button:hover .image-main{
    opacity:0;
    transition: opacity .2s;
}
.char-ability-add-button .image-hover{
    opacity:0;
    z-index: 99;
}
.char-ability-add-button:hover .image-hover{
    opacity: 1;
    transition: opacity .2s;
}

/* CHARACTER NOTES */
.char-column-right{
    position: relative;
    top: 800px;
    left: 490px;
}
.char-notes-title{
    position: relative;
    left:55px;
    top: 4px;
}
.char-notes {
    color:#666666;
    font-family: Zekton;
    letter-spacing: .5px;
    font-size: 12pt;
    background: #000000;
    border-left: 1px solid magenta;    
    border-top: 1px solid magenta;
    border-bottom: 1px solid magenta;
    padding-left: 3px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: 20px;
    width:576px;
}
.char-notes .notelist{
    min-height: 100px;
    padding-left: 15px;
    border-left: 1px solid magenta;
}
.char-notes .notelist b{
    color: white;
    
    
}
.char-notes .notelist div{
    padding-bottom: 1px;
    padding-top: 5px;
    
}
.char-notes .notelist div:not(:last-child){
    background-image: url("/graphics/notes_sep.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 10px;
}
.char-notes .notelist input{
    font-family: Zekton;
    font-weight: bold;
    width: 536px;
    background:none;
    border: none;
    color: #666666;
}
.char-notes .notelist input[type=text]:focus{
    border: hidden;
    outline: none;
}
.char-notes .notes-add-button{
    position: relative;
    top: 33px;
    left: 497px;
    width: 45px;
    height: 26px;
    z-index: 999;
}
.char-notes .notes-add-button button{
    border: none;
    background: transparent;   
}
.char-notes .notes-add-button img{
    position:absolute;
    top:0;
    left:0;
    cursor:pointer;
}
.notes-add-button .image-main{
    opacity:1
}
.notes-add-button:hover .image-main{
    opacity:0;
    transition: opacity .2s;
}
.notes-add-button .image-hover{
    opacity:0;
    z-index: 99;
}
.notes-add-button:hover .image-hover{
    opacity: 1;
    transition: opacity .2s;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .editable-input{
    cursor:pointer;
  }
  
  .editable-placehold {
    position: relative;
    width: 100%;
    height: 20px;
    margin: -5px;
    cursor:pointer;
  }
  
  .edit-item {
    z-index: 1000;
    background-color: #000000;
    border: 2px solid purple;
    color:#00ff80;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    float:left;
    font-family: Zekton;
    font-size: 14px;
    text-shadow:none;
    -webkit-text-stroke-width: 0;
  }
  .editable-input .edit-item{
    display: flex;
    justify-content: space-between;
    
  }
  .edit-item input{
    float:right;
    margin: 3px;
    margin-left:0;
    text-align: left;
    background: #111155;
    color: white;
    font-family: Zekton;
    font-variant:small-caps;
    border-bottom:2px solid #3399FF;
    border-right:2px solid #3399FF;
    border-top: 2px solid #1155CC;
    border-left: 2px solid #1155CC;
    flex: 1;
    
  }
  .edit-item textarea{
    float:right;
    margin: 3px;
    margin-left:0;
    text-align: left;
    background: #111155;
    color: white;
    font-family: Zekton;
    font-variant:small-caps;
    border-bottom:2px solid #3399FF;
    border-right:2px solid #3399FF;
    border-top: 2px solid #1155CC;
    border-left: 2px solid #1155CC;
    flex: 1;
    width: 400px;
    
  }
  .edit-item textarea:focus{
    outline:#00ff80;
    
  }
  .edit-item input[type=number]{
    width: 60px;
    float: left;
    margin-left: 18px;
  }
  .edit-item input:focus{
    outline:#00ff80;
  }
  
  .edit-item label{
    float:left;
    margin: 3px;
    padding-top:4px;
    text-align:right;
    color:#00ff80;
  }
  
  .editable-input .edit-item label{
    margin-right: 7px;
    position: relative;
    top:-2px;
  }
  .edit-item button{
    position: relative;
    cursor:pointer;
    height: 28px;
    width: 28px;
    background: transparent;
    border: none;
    float:right;
    margin: 0;
    flex-shrink: 0;
  }
  .edit-item button img{
    position: absolute;
    top:0;
    left:0;
    padding: 6px;
  }
  .edit-item button .image-main{
    opacity: 1;
  }
  .edit-item button:hover .image-main{
    opacity: 0;
    transition: opacity .2s;
  }
  
  .edit-item button .image-hover{
    opacity:0;
  }
  .edit-item button:hover .image-hover{
    opacity: 1;
    transition: opacity .2s;
  }
  .message{
    color:#FF0065;
    font-family: Zekton;
    font-size: 14px;
    font-weight: bold;
  }


  /* SIGN-IN/UP */
.splash .signupSection{
    background-image: url("/graphics/splash.png");
    background-repeat: no-repeat;
}
.splash2 .signupSection{
    background-image: url("/graphics/splash2.png");
    background-repeat: no-repeat;
}
.splash3 .signupSection{
    background-image: url("/graphics/splash3.png");
    background-repeat: no-repeat;
}


.signupSection {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 795px;
    height: 480px;
    text-align: center;
    font-family:zekton;
    display: flex;
    color: white;
}

.signupSection.splash .signupForm{
    top: -10px;
}
  
.signupForm{
    position: relative;
    margin: auto;
    color: cyan;
}
.splash h2{
    top: -8px;
}
.splash2 h2{
    top: 16px;
}
.signupForm h2{

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;

}
.left-box {
    width: 316px;
    background: transparent;
}



/* FORM FIELDS */
.noBullet {
    list-style-type: none;
    padding: 0;
    position: relative;
}
.splash .noBullet{
    top: 50px;
}
.splash2 .noBullet{
    top: 73px;
}

#email, #password, #confirm-password, .input-field{
    position: relative;
    margin: 6px;
    background: transparent;
    text-align: center;
    color: #00ff80;
    font-family: zekton;
    font-size: 18px;
    height: 34px;
    outline: none;
    border: none;
}

#email{
width: 400px;
top: -3px;
}
#confirm-password{
width: 300px;
top:-4px;
}
#password{
top: -3px;
}

/* BUTTONS */
.splash .or{
position: relative;
    top: 35px;
}
.splash .form-button{
    top: 70px;
}
.splash .or{
    top: 65px;
}
.splash2 .or{
    position: relative;
    top: 70px;
}
.splash2 .form-button{
    top: 80px;
}
.splash2 .google{
    top:70px;
}

.form-button{
position: relative;
margin:auto;
left: 5px;
border: none;
cursor: pointer;
height: 32px;
width:250px;
font-family: metro;
font-size: 10px;
color: #eeeeee;
text-shadow:
2px 2px 0 #000000,
2px 2px 0 #000000,
2px 2px 0 #000000,
2px 2px 0 #000000;
text-align: center;
}
.signupSection.splash2 .form-button{
top: 50px;
}
.form-button p{
position: relative;
text-align: center;
height: 32px;
top:9px;
}
.form-button img{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.form-button .image-main{
opacity:1
}
.form-button:hover .image-main{
opacity:0;
transition: opacity .2s ease-in-out;
}
.form-button .image-hover{
opacity:0;
}
.form-button:hover .image-hover{
    opacity: 1;
    transition: opacity .1s ease-in-out;
}
.form-button.google{
    left: 5px;
}
.form-button.google p{
    left: 15px;
}


/* LINKS/ERROR */
.signupForm a{
    position: relative;
    color: #00ff80;
    font-size: 14px;
    cursor: pointer;
    left: 5px;
}
.signupForm a:hover{
    color: #33ffAA;
    text-decoration:underline;
}
.splash a{
    top: 70px;
}
.splash2 a{
    top: 60px;
}
.errMsg{
    position: absolute;
    width: 500px;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);

    font-variant:small-caps;
    color:#ff0065;
}
.splash2 .errMsg{
    top: 130px;
}
.splash .errMsg{
    top: 85px;
}


/* ADD CHARACTER PAGE */
.splash3 .form-button{
    top: 60px;
}

.splash3 .noBullet{
    top: 53px;
}
.statusMsg{
    position: absolute;
    width: 500px;
    top:135px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-variant: small-caps;
}
.statusMsg {
    color: cyan;
    animation: pulse .5s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      color: cyan;
    }
    50% {
      color: white;
    }
    100% {
      color: cyan;
    }
  }


/* MINI SPLASH MESSAGE */
.splash-mini{
    background-image: url("/graphics/splash-mini.png");
    background-repeat: no-repeat;
    width: 478px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.splash-mini p{
    margin: auto;
    top: 50%;
    width: 300px;
}
.splash-mini .statusMsg {
    color: #FF0066;
    animation: pulse 4s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      color: cyan;
    }
    50% {
      color: white;
    }
    100% {
      color: cyan;
    }
  }
